# Only support Python 3.11
streamlit
streamlit>=1.35.0
pandas
requests
pdf2image
google-genai
streamlit
pandas
google-genai
requests
pdf2image
xlsxwriter
openpyxl
pillow
openpyxl
google-generativeai
PyMuPDF
scipy>=1.10.0
rapidfuzz==3.9.3
supabase
pypdf
shapely
ezdxf
shapely
google-generativeai
pandas
streamlit
opencv-python-headless
openpyxl
pandas
pymupdf
