# Only support Python 3.11
streamlit>=1.35.0
pandas
requests
google-genai
google-generativeai
xlsxwriter
openpyxl
pillow
pymupdf
scipy>=1.10.0
rapidfuzz==3.9.3
supabase
pypdf
shapely
ezdxf
opencv-python-headless
safetensors
numpy
